/**
 * IMPORTANT!! This is a global class so that application code can modify it if needed.
 * For example, the link bar on the home page disables the header box-shadow
 */
.ud-header {
  box-shadow: 0 2px 8px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 8%, transparent), 0 4px 16px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 12%, transparent);
  z-index: 1010;
}
.ud-instructor-header.ud-header {
  box-shadow: none;
}

body {
  min-inline-size: 60rem;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
@keyframes desktop-header-module--slide-from-top--IZ-uR {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.desktop-header-module--header--a5wri {
  background: var(--color-white);
  block-size: 7.2rem;
  padding-block: 0;
  padding-inline: 2.4rem;
  position: relative;
  z-index: 1010;
}
.desktop-header-module--mobile-header--EaZjO {
  display: none;
}
.desktop-header-module--mobile-header-placeholder--X9vRI {
  background: var(--color-white);
  block-size: 5.6rem;
}
.desktop-header-module--flex-middle--k0Teb {
  align-items: center;
  display: flex;
}
.desktop-header-module--search-bar--49122 {
  flex-grow: 1;
  block-size: 4.8rem;
  border: 1px solid oklch(67.22% 0.0355 279.77deg);
  border-radius: 100rem;
  background-color: var(--color-white);
  margin-block: 0;
  margin-inline: 1.2rem;
}
.desktop-header-module--search-bar--49122:hover {
  background-color: var(--color-gray-100);
}
.desktop-header-module--search-bar--49122:focus-within {
  background-color: var(--color-white);
  border-color: var(--applied-border-input-focus);
  /* stylelint-disable-next-line unit-disallowed-list */
  box-shadow: inset 0 0 0 0.5px var(--applied-border-input-focus);
}
/* stylelint-disable-next-line selector-class-pattern */
.desktop-header-module--header--a5wri .js-header-search-field {
  background-color: transparent;
}
/* stylelint-disable-next-line selector-class-pattern */
.desktop-header-module--header--a5wri .js-header-search-field-multi {
  background-color: transparent;
  margin-inline-start: 0.8rem;
}
.desktop-header-module--header--a5wri .ud-search-form-autocomplete {
  max-inline-size: none;
}
.desktop-header-module--logo--AwnFF {
  flex-shrink: 0;
  padding-inline-end: 0.8rem;
}
/* stylelint-disable-next-line selector-class-pattern */
.desktop-header-module--gap-button--4drhI .js-header-button {
  padding-block: 0;
  padding-inline: 1.2rem;
}
.desktop-header-module--gap-auth-button--f25sS {
  margin-inline-start: 0.8rem;
}
.desktop-header-module--dropdown-button-text--Sq73l {
  color: var(--applied-text-default);
}
.desktop-header-module--dropdown-button--ipas9:hover .ud-icon,
.ud-popper-open .desktop-header-module--dropdown-button-text--Sq73l,
.ud-popper-open .desktop-header-module--dropdown-button--ipas9 .ud-icon,
.desktop-header-module--dropdown-button--ipas9:hover .desktop-header-module--dropdown-button-text--Sq73l {
  color: var(--applied-text-link);
}
.desktop-header-module--btn--pCJU- {
  color: var(--applied-text-default);
  margin-block: 1.2rem;
  margin-inline: 0;
}
.desktop-header-module--dropdown-button--ipas9 {
  margin-block: 1.2rem;
  margin-inline: 0;
}
.desktop-header-module--dropdown--pZls3 > div > div {
  inline-size: 100%;
}
.desktop-header-module--menu--oIYSV {
  min-inline-size: 28.8rem;
}
.desktop-header-module--header--a5wri .desktop-header-module--dropdown-counter-badge--unIZ1,
.desktop-header-module--header--a5wri .desktop-header-module--dropdown-dot-badge--90r5I {
  position: absolute;
  font-size: 1.2rem;
  margin: 0;
}
.desktop-header-module--header--a5wri .desktop-header-module--dropdown-counter-badge--unIZ1 {
  inset-block-start: 0;
  inset-inline-start: 50%;
}
.desktop-header-module--header--a5wri .desktop-header-module--dropdown-dot-badge--90r5I {
  inset-block-start: 0.8rem;
  inset-inline-end: 0.8rem;
}
@media (max-width: 67.5em) {
  .desktop-header-module--group-a--N6xgx {
    display: none;
  }
}
@media (max-width: 57.5em) {
  .desktop-header-module--group-b--Zka1Y {
    display: none;
  }
}
@media (max-width: 51.5em) {
  .desktop-header-module--group-c--VwNgF {
    display: none;
  }
}
@media (max-width: 75.06em) {
  .desktop-header-module--group-a-logged-out-variant--KtpQg {
    display: none;
  }
}
@media (max-width: 61.31em) {
  .desktop-header-module--group-b-logged-out-variant--Rp4Mg {
    display: none;
  }
}
@media (max-width: 43.81em) {
  .desktop-header-module--group-c-logged-out-variant--Usvre {
    display: none;
  }
}
@media (max-width: 50rem) {
  .desktop-header-module--header--a5wri {
    display: none;
  }
  .desktop-header-module--mobile-header--EaZjO {
    display: block;
  }
}
@media (max-width: 61.25rem) {
  .desktop-header-module--header-admin--f-FoX {
    display: none;
  }
  .desktop-header-module--mobile-header-admin--XBrGs {
    display: block;
  }
}
.desktop-header-module--mark--adaV7 {
  position: absolute;
  inline-size: 100%;
  inset-inline-start: 0;
}
.desktop-header-module--floating--mGu6y {
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  box-shadow: 0 2px 8px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 8%, transparent), 0 4px 16px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 12%, transparent);
  animation: desktop-header-module--slide-from-top--IZ-uR 250ms cubic-bezier(0, 0, 0.38, 0.9) 0ms forwards;
}
.desktop-header-module--visible--5koVj {
  box-shadow: 0 2px 8px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 8%, transparent), 0 4px 16px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 12%, transparent);
}
.desktop-header-module--hidden--qheYi {
  box-shadow: none;
}
.desktop-header-module--ai-assistant-text--mWVcC {
  background: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-purple-450) 50%, var(--color-purple-300) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desktop-header-module--sparkles-icon--2sbb5 {
  color: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-purple-450) 50%, var(--color-purple-300) 80%);
}
@media (max-width: 63.94em) {
  .desktop-header-module--show-on-large-screen--hi72f {
    display: none;
  }
}
@media (max-width: 79.94em) {
  .desktop-header-module--show-on-extra-large-screen--2M08Q {
    display: none;
  }
}
.desktop-header-module--content-with-ribbon---y2za {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.desktop-two-row-header-module--multi-header--Rb7SA {
  align-content: center;
  block-size: 14.4rem;
}
.desktop-two-row-header-module--no-search-bar--7xFEc {
  flex-grow: 1;
}
.desktop-two-row-header-module--search-row--7M9-b {
  margin-inline: 9.6rem;
  margin-block-end: 1.6rem;
}
.desktop-two-row-header-module--search-bar-lg--T3Xe- {
  flex-grow: 1;
  block-size: 5.6rem;
  border: 1px solid oklch(67.22% 0.0355 279.77deg);
  border-radius: 100rem;
  background-color: var(--color-white);
  margin-block: 0;
  margin-inline: 1.2rem;
}
.desktop-two-row-header-module--search-bar-lg--T3Xe-:hover {
  background-color: var(--color-gray-100);
}
.desktop-two-row-header-module--search-bar-lg--T3Xe-:focus-within {
  background-color: var(--color-white);
  border-color: var(--applied-border-input-focus);
  /* stylelint-disable-next-line unit-disallowed-list */
  box-shadow: inset 0 0 0 0.5px var(--applied-border-input-focus);
}

.explore-menu-module--explore-menu-container--iozaE {
  display: flex;
  inline-size: 100%;
}
.explore-menu-module--navigation-column--6QJpw {
  inline-size: 26rem;
  min-block-size: 64rem;
  padding-block: 0.8rem;
  padding-inline: 0;
}
.explore-menu-module--navigation-column--bordered--K63eQ {
  border-inline-end: 1px solid oklch(86.72% 0.0192 282.72deg);
}
.explore-menu-module--column-divider--NZOJO {
  margin-block-start: 0.8rem;
  padding-block-start: 0.8rem;
  border-block-start: 1px solid oklch(86.72% 0.0192 282.72deg);
}
.explore-menu-module--section-divider--WydJb {
  margin-block: 0.8rem;
  border-block-start: 1px solid oklch(86.72% 0.0192 282.72deg);
}
.explore-menu-module--column-header--8SrdT {
  padding-block: 0.8rem;
  padding-inline: 1.6rem;
  color: var(--applied-text-subdued);
}
.explore-menu-module--nav-item--yL242 {
  margin-inline-end: 1.6rem;
}
.explore-menu-module--section-title--zNQFR {
  padding-block: 0.8rem;
  padding-inline: 1.6rem;
  color: var(--applied-text-subdued);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explore-menu-module--section-loading--dFXSi {
  padding-block: 0.8rem;
  padding-inline: 1.6rem;
  color: var(--applied-text-subdued);
}
.explore-menu-module--level-loading--A3BNa {
  padding-block: 2.4rem;
  padding-inline: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-menu-module--section--9-kE5 + .explore-menu-module--section--9-kE5 {
  border-block-start: 1px solid oklch(86.72% 0.0192 282.72deg);
}
.explore-menu-module--section--9-kE5 .explore-menu-module--item--36XQu {
  padding-block: 0.8rem;
  padding-inline: 1.6rem;
  margin-inline: 0;
  border-radius: 0;
  color: var(--applied-text-default);
  transition: background-color 150ms ease;
}
.explore-menu-module--section--9-kE5 .explore-menu-module--item--36XQu:hover {
  background-color: var(--color-purple-100);
  color: var(--color-purple-400);
}
.explore-menu-module--section--9-kE5 .explore-menu-module--item--active--S-I2F {
  background-color: var(--color-purple-100);
  color: var(--color-purple-400);
}
.explore-menu-module--loader-container---Ioqk {
  padding-block: 0.8rem;
  padding-inline: 1.6rem;
}
.explore-menu-module--full-width--eqq1W {
  inline-size: 100%;
}
.explore-menu-module--try-ufb-dropdown-menu--svdc1 {
  padding-block: 0.8rem;
}
.explore-menu-module--section--9-kE5 .explore-menu-module--item--36XQu.explore-menu-module--all-elements-link--I-wdQ {
  color: var(--applied-text-link);
  text-decoration: underline;
}

.popover-module--popover--HrSFz {
  position: relative;
  inline-size: 32rem;
  background-color: var(--applied-background-default);
  box-shadow: 0 0 0 1px var(--applied-border-default), 0 2px 8px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 8%, transparent), 0 4px 16px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 12%, transparent);
  border-radius: 0.8rem;
  color: var(--applied-text-default);
}
.popover-module--popover-padding--3j0NT {
  padding: 2.4rem;
}
.popover-module--popover-bottom--1ghkR {
  margin-block-start: 0.4rem;
}
.popover-module--popover-bottom-arrow--QQttx {
  margin-block-start: 2rem;
}
.popover-module--popover-top--d0TP1 {
  margin-block-end: 0.4rem;
}
.popover-module--popover-top-arrow--Xq-me {
  margin-block-end: 2rem;
}
.popover-module--popover-left--otWHB {
  margin-inline-end: 0.4rem;
}
.popover-module--popover-left-arrow--vVoOR {
  margin-inline-end: 2rem;
}
.popover-module--popover-right--XDS2O {
  margin-inline-start: 0.4rem;
}
.popover-module--popover-right-arrow--Zope- {
  margin-inline-start: 2rem;
}
.popover-module--inner--yQvGI {
  position: relative;
  z-index: 1;
}
.popover-module--arrow--TfIVX {
  --arrow-size: 2rem;
  --arrow-size-half: calc(var(--arrow-size) / 2);
  --rotated-arrow-size-half: 1.2rem;
  --arrow-translate-x: calc(var(--rotated-arrow-size-half) * -1);
  --arrow-translate-y: calc(var(--rotated-arrow-size-half) * -1);
  position: absolute;
}
.popover-module--arrow--TfIVX:dir(rtl) {
  --arrow-translate-x: var(--rotated-arrow-size-half);
}
.popover-module--arrow--TfIVX::before {
  content: '';
  box-sizing: border-box;
  display: block;
  block-size: 2.26rem;
  inline-size: 2.26rem;
  background-color: var(--applied-background-default);
  border: 1px solid oklch(86.72% 0.0192 282.72deg);
  box-shadow: 0 2px 8px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 8%, transparent), 0 4px 16px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 12%, transparent);
  position: absolute;
}
.popover-module--arrow--TfIVX::after {
  content: '';
  display: block;
  background-color: var(--applied-background-default);
  position: absolute;
  block-size: var(--arrow-size);
  inline-size: var(--arrow-size);
}
.popover-module--arrow-bottom--7tZ7T {
  --mask-translate-x: calc(var(--arrow-size-half) * -1);
}
.popover-module--arrow-bottom--7tZ7T:dir(rtl) {
  --mask-translate-x: var(--arrow-size-half);
}
.popover-module--arrow-bottom--7tZ7T::before {
  transform: translateX(var(--arrow-translate-x)) translateY(var(--arrow-translate-y)) scaleX(0.5) rotate(-45deg);
}
.popover-module--arrow-bottom--7tZ7T::after {
  transform: translateX(var(--mask-translate-x));
}
.popover-module--arrow-top--aLHGT {
  --mask-translate-x: calc(var(--arrow-size-half) * -1);
}
.popover-module--arrow-top--aLHGT:dir(rtl) {
  --mask-translate-x: var(--arrow-size-half);
}
.popover-module--arrow-top--aLHGT::before {
  transform: translateX(var(--arrow-translate-x)) translateY(var(--arrow-translate-y)) scaleX(0.5) rotate(-45deg);
}
.popover-module--arrow-top--aLHGT::after {
  transform: translateX(var(--mask-translate-x)) translateY(calc(var(--arrow-size) * -1));
}
.popover-module--arrow-left--DqnZ1 {
  --mask-translate-x: calc(var(--arrow-size) * -1);
}
.popover-module--arrow-left--DqnZ1:dir(rtl) {
  --mask-translate-x: var(--arrow-size);
}
.popover-module--arrow-left--DqnZ1::before {
  transform: translateX(var(--arrow-translate-x)) translateY(var(--arrow-translate-y)) scaleY(0.5) rotate(-45deg);
}
.popover-module--arrow-left--DqnZ1::after {
  transform: translateX(var(--mask-translate-x)) translateY(calc(var(--arrow-size-half) * -1));
}
.popover-module--arrow-right--VXTVj::before {
  transform: translateX(var(--arrow-translate-x)) translateY(var(--arrow-translate-y)) scaleY(0.5) rotate(-45deg);
}
.popover-module--arrow-right--VXTVj::after {
  transform: translateY(calc(var(--arrow-size-half) * -1));
}

.panel-menu-module--panel--FrCW7 {
  padding: 1.6rem;
  text-align: center;
}
.panel-menu-module--no-items--O75Tt {
  color: var(--applied-text-subdued);
}
.panel-menu-module--item--XoZxL {
  padding: 1.6rem;
}
.panel-menu-module--section-heading--rus-R {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 1.6rem 0;
  padding-inline: 1.6rem 1.6rem;
}
.panel-menu-module--section-heading--rus-R ~ .panel-menu-module--section-heading--rus-R,
.panel-menu-module--item--XoZxL + .panel-menu-module--item--XoZxL {
  border-block-start: 1px solid oklch(86.72% 0.0192 282.72deg);
}
.panel-menu-module--section-heading-title--DpCwA {
  margin-inline-end: 1.6rem;
}
.panel-menu-module--section-heading-link--x-Yyg {
  margin-block: 0.4rem;
  margin-inline: 0;
}
.panel-menu-module--footer--mjYSO {
  background: var(--color-white);
  border-block-start: 1px solid oklch(86.72% 0.0192 282.72deg);
  padding: 1.6rem;
}
.panel-menu-module--cta--G-aTQ {
  inline-size: 100%;
  white-space: nowrap;
}
.panel-menu-module--gap-bottom---DDBJ {
  margin-block-end: 1.6rem;
}

.course-card-skeleton-group-module--skeleton--Y4zI0 {
  overflow: hidden;
}
.course-card-skeleton-group-module--title--P1O94 {
  block-size: 3.2rem;
  margin-block-end: 1.6rem;
  border-radius: 0.8rem;
  max-inline-size: 48rem;
}
.course-card-skeleton-group-module--row--Q-1LW {
  display: flex;
}
.course-card-skeleton-group-module--row--Q-1LW > * + * {
  margin-inline-start: 1.6rem;
}
.course-card-skeleton-group-module--row--Q-1LW + .course-card-skeleton-group-module--row--Q-1LW {
  margin-block-start: 1.6rem;
}

.course-card-skeleton-module--skeleton-fixed--KHMI2 {
  inline-size: 17.3rem;
}
.course-card-skeleton-module--skeleton-flexible--tcvBn {
  max-inline-size: 37.5rem;
  min-inline-size: 17.3rem;
}
.course-card-skeleton-module--line--xEQ8Z {
  block-size: 1.6rem;
  border-radius: 0.8rem;
}
.course-card-skeleton-module--title--nO73n {
  block-size: 3.2rem;
  margin-block-end: 0.4rem;
  border-radius: 0.8rem;
}
.course-card-skeleton-module--line--xEQ8Z + .course-card-skeleton-module--line--xEQ8Z {
  margin-block-start: 0.4rem;
}
.course-card-skeleton-module--line--xEQ8Z:last-child {
  inline-size: 54%;
}
.course-card-skeleton-module--skeleton-small--ZOtHj,
.course-card-skeleton-module--skeleton-large--wpUy- {
  display: flex;
  min-inline-size: 25.6rem;
  max-inline-size: 55.2rem;
}
.course-card-skeleton-module--skeleton-small--ZOtHj .course-card-skeleton-module--image--b607E,
.course-card-skeleton-module--skeleton-large--wpUy- .course-card-skeleton-module--image--b607E {
  inline-size: 6.4rem;
  block-size: 6.4rem;
  margin-inline-end: 0.8rem;
  border-radius: 0.8rem;
}
.course-card-skeleton-module--skeleton-medium--UQMng .course-card-skeleton-module--image--b607E {
  max-inline-size: 100%;
  padding-block-end: 56.25%;
  margin-block-end: 0.8rem;
  border-radius: 0.8rem;
}
@media (min-width: 37.5625rem) {
  .course-card-skeleton-module--skeleton-large--wpUy- {
    display: flex;
    min-inline-size: 50.8rem;
    max-inline-size: 129.2rem;
  }
  .course-card-skeleton-module--skeleton-large--wpUy- .course-card-skeleton-module--image--b607E {
    inline-size: 26.5rem;
    block-size: 14.5rem;
    margin-inline-end: 0.8rem;
  }
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.compact-program-progress-card-module--program-info--qdhI6 {
  padding-block: 0;
  padding-inline: 0.8rem;
  inline-size: 19.2rem;
}
.compact-program-progress-card-module--program-title--htDpf {
  display: block !important;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: block-axis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-block-end: 0.4rem;
}
.compact-program-progress-card-module--program-title-condensed--Nrfms {
  -webkit-line-clamp: 2;
  max-block-size: 3.4rem;
}
.compact-program-progress-card-module--start-learning--HC-PH {
  color: oklch(48.41% 0.2342 293.93deg);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
/* stylelint-disable-next-line max-line-length */
body.ud-keyboard-navigation-in-use .media-object-module--media-object--ilk-Z.ud-custom-focus-visible:focus-within .ud-focus-visible-target {
  /* stylelint-disable unit-disallowed-list */
  outline: solid var(--applied-border-input-focus) 3px;
  outline-offset: 3px;
  /* stylelint-enable unit-disallowed-list */
}
.media-object-module--media-object--ilk-Z {
  color: var(--applied-text-default) !important;
  display: flex;
  position: relative;
}
.media-object-module--image-wrapper--pxSdJ {
  inline-size: 6.4rem;
  block-size: 6.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.media-object-module--media-object-title--60qy5 {
  color: var(--applied-text-default);
}
.media-object-module--media-object-title--60qy5:hover {
  color: var(--applied-text-default);
}
.media-object-module--media-object-title--60qy5::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
}

.meter-module--meter-wrapper--lGwu- {
  background: var(--color-gray-200);
  block-size: 0.8rem;
  overflow: hidden;
}
.meter-module--meter--9-BwT {
  --scale-x: 0;
  background: var(--color-purple-400);
  block-size: 100%;
  transform: scaleX(var(--scale-x));
  transform-origin: left center;
  transition: transform 150ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.meter-module--meter--9-BwT:dir(rtl) {
  transform-origin: right center;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.compact-course-progress-card-module--course-image--NCUhE {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  inline-size: auto;
  max-inline-size: none;
  block-size: 100%;
  transform: translateX(-50%);
}
.compact-course-progress-card-module--course-image--NCUhE:dir(rtl) {
  inset-inline: auto 50%;
}
.compact-course-progress-card-module--course-info--EzvuD {
  padding-block: 0;
  padding-inline: 0.8rem;
  inline-size: 19.2rem;
}
.compact-course-progress-card-module--course-title--tMPDH {
  display: block !important;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: block-axis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-block-end: 0.4rem;
}
.compact-course-progress-card-module--course-title-condensed---Y2a- {
  -webkit-line-clamp: 2;
  max-block-size: 3.4rem;
}
.compact-course-progress-card-module--start-learning--hkwdf {
  color: oklch(48.41% 0.2342 293.93deg);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shopping-items-module--scrollable--aB2wV {
  overflow: auto;
  position: relative;
}
.shopping-items-module--item-wrapper--474Jt > * + * {
  margin-block-start: 0.8rem;
}
.shopping-items-module--sticky-footer--pRVmK {
  box-shadow: 0 -2px 8px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 8%, transparent), 0 -4px 16px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 12%, transparent);
  position: sticky;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
}
.shopping-items-module--total--vFL7N {
  display: flex;
  align-items: center;
  margin-block-end: 0.8rem;
}
.shopping-items-module--total--vFL7N > * {
  line-height: 1;
}
.shopping-items-module--credit--sT3jo {
  background-color: var(--color-teal-150);
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 700;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.shopping-item-module--buyable-info--B3t7j {
  padding-block: 0;
  padding-inline: 0.8rem;
  inline-size: 19.2rem;
}
.shopping-item-module--buyable-title--M7035 {
  display: block !important;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-block-end: 0.4rem;
}
.shopping-item-module--buyable-instructors--OhWu2 {
  color: var(--applied-text-subdued);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.base-price-text-module--container--Sfv-5 {
  align-items: center;
  color: var(--applied-text-default);
  display: flex;
  flex-flow: row wrap;
}
.base-price-text-module--price-part---xQlz {
  line-height: 1;
  padding-block: 0.4rem;
  padding-inline: 0;
  margin-inline-end: 0.8rem;
  white-space: nowrap;
}
.base-price-text-module--price-part---xQlz:last-child {
  margin-inline-end: 0;
}
.base-price-text-module--original-price--C6BJt {
  color: var(--applied-text-subdued);
}

.notification-items-module--notification-items--Mfzqz *[role='tabpanel'] {
  padding: 0 !important;
}
.notification-items-module--footer-btns--2ag19 {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0 -0.8rem;
  margin-inline: -0.8rem;
}
.notification-items-module--footer-btn-wrapper--emtQs {
  flex: 1 0 auto;
  padding-block: 0 0.8rem;
  padding-inline: 0.8rem;
  white-space: nowrap;
}
.notification-items-module--panel--xkfl9 {
  min-inline-size: 36rem;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.notification-item-module--notification-info--t-zby {
  padding-block: 0;
  padding-inline: 0.8rem 1.2rem;
  inline-size: 26.4rem;
}
.notification-item-module--notification-title--sogCj {
  display: block !important;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-block: 0 0.4rem;
  margin-inline: 0 0.8rem;
}
.notification-item-module--notification-timestamp--dnP5L {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--applied-text-subdued);
}
.notification-item-module--unread-dot--mDZ3x {
  position: absolute;
  inset-block-start: 1.6rem;
  inset-inline-end: 1.6rem;
}

.tabs-module--tabs-container---clC6 {
  --tabs-text-color-default: var(--applied-text-default);
  --tabs-nav-color-default: var(--applied-text-subdued);
  --tabs-nav-color-active: var(--applied-text-default);
  --tabs-nav-color-hover: var(--applied-text-default);
  --tabs-nav-color-hover-background: var(--applied-text-link);
  --tabs-box-shadow-color: var(--applied-border-default);
}
.tabs-module--tabs-container---clC6.tabs-module--inverted--5HQlZ {
  --tabs-scroll-left-bg: linear-gradient(to right, var(--applied-background-dark) 75%, oklch(20.35% 0.0139 Infinitydeg));
  --tabs-scroll-right-bg: linear-gradient(to left, var(--applied-background-dark) 75%, oklch(20.35% 0.0139 Infinitydeg));
  --tabs-pagination-color: var(--color-white);
  --tabs-text-color-default: oklch(100% 0 0deg);
  --tabs-nav-color-default: oklch(86.72% 0.0192 282.72deg);
  --tabs-nav-color-active: oklch(100% 0 0deg);
  --tabs-nav-color-hover: oklch(100% 0 0deg);
  --tabs-nav-color-hover-background: var(--color-purple-200);
  --tabs-box-shadow-color: oklch(67.22% 0.0355 279.77deg);
}
.tabs-module--tabs-nav-buttons--R48bp {
  /* stylelint-disable-next-line unit-disallowed-list */
  box-shadow: inset 0 -1px 0 0 var(--tabs-box-shadow-color);
  position: relative;
}
.tabs-module--nav-button-container--UQiPm {
  flex: 1 1 auto;
}
.tabs-module--full-width--63jhA .tabs-module--tabs-nav-buttons--R48bp {
  display: flex;
  justify-content: space-evenly;
}
.tabs-module--tab-content--y-r7m {
  max-inline-size: 0;
  max-block-size: 0;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  cursor: auto;
  padding: 0;
  color: var(--tabs-text-color-default);
}
.tabs-module--tab-content--y-r7m.tabs-module--active--WZUDQ {
  padding-block-start: 1.6rem;
  max-inline-size: none;
  max-block-size: none;
  overflow: visible;
  visibility: visible;
}
.tabs-module--nav-buttons-row--a0ey4 {
  display: flex;
  gap: 1.6rem;
}
.tabs-module--nav-buttons-row--a0ey4.tabs-module--xlarge--XjrAr {
  gap: 3.2rem;
}
.tabs-module--inverted--5HQlZ .tabs-module--scroller-button-inverted-prev--nJ-Oa {
  background: var(--tabs-scroll-left-bg);
  color: var(--color-white);
}
.tabs-module--inverted--5HQlZ .tabs-module--scroller-button-inverted-prev--nJ-Oa:hover {
  background: var(--tabs-scroll-left-bg);
}
.tabs-module--inverted--5HQlZ .tabs-module--scroller-button-inverted-next--h8bAU {
  background: var(--tabs-scroll-right-bg);
  color: var(--color-white);
}
.tabs-module--inverted--5HQlZ .tabs-module--scroller-button-inverted-next--h8bAU:hover {
  background: var(--tabs-scroll-right-bg);
}
.tabs-module--nav-button-container--UQiPm .tabs-module--nav-button--DtB8V {
  background: transparent;
  padding-block: 0.8rem;
  padding-inline: 0.4rem;
  font-weight: 400;
  margin-inline: 0;
  outline-offset: -0.4rem !important;
  color: var(--tabs-nav-color-default);
  position: relative;
  inline-size: 100%;
  border-radius: 0;
  background-image: linear-gradient(var(--tabs-nav-color-hover-background), var(--tabs-nav-color-hover-background));
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size 150ms cubic-bezier(0.2, 0, 1, 0.9);
}
.tabs-module--nav-button-container--UQiPm .tabs-module--nav-button--DtB8V.tabs-module--xlarge--XjrAr {
  font-size: clamp(1.7rem, calc(1.7rem + (1.8 - 1.7) * calc((100vw - 36rem) / (144 - 36))), 1.8rem);
  padding-block-end: 2.4rem;
}
.tabs-module--nav-button-container--UQiPm .tabs-module--nav-button--DtB8V.tabs-module--active--WZUDQ {
  font-weight: var(--font-weight-medium);
  color: var(--tabs-nav-color-active);
  cursor: default;
  background-image: linear-gradient(var(--tabs-nav-color-active), var(--tabs-nav-color-active));
  background-size: 100% 2px;
}
.tabs-module--nav-button-container--UQiPm .tabs-module--nav-button--DtB8V:hover {
  color: var(--tabs-nav-color-hover);
  background-size: 100% 2px;
}
.tabs-module--nav-button-container--UQiPm.tabs-module--active--WZUDQ {
  background-image: linear-gradient(var(--tabs-nav-color-active), var(--tabs-nav-color-active));
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}
.tabs-module--nav-button-container--UQiPm.tabs-module--active--WZUDQ.tabs-module--xlarge--XjrAr {
  border-block-end-width: 0.4rem;
}

.horizontal-scroller-module--scroller-container--7EVkM {
  --scroller-button-previous-bg: linear-gradient(to right, var(--color-white) 75%, color-mix(in oklch, var(--color-white) 0%, transparent));
  --scroller-button-next-bg: linear-gradient(to left, var(--color-white) 75%, color-mix(in oklch, var(--color-white) 0%, transparent));
  --scroller-button-color: oklch(48.41% 0.2342 293.93deg);
  display: flex;
  align-items: center;
  position: relative;
}
.horizontal-scroller-module--scroller-port--RKEak {
  display: flex;
  flex: 1;
  overflow-x: auto;
  scrollbar-width: none;
}
.horizontal-scroller-module--scroller-port--RKEak::-webkit-scrollbar {
  display: none;
}
.horizontal-scroller-module--scroller-button--JhI5P {
  position: absolute;
  transform: translateY(-50%);
  inset-block-start: 50%;
  border: none;
  box-shadow: none;
  background: var(--scroller-button-previous-bg);
  color: var(--scroller-button-color);
}
.horizontal-scroller-module--scroller-button--JhI5P:hover {
  background: var(--scroller-button-previous-bg);
}
.horizontal-scroller-module--scroller-button--JhI5P:disabled {
  display: none;
}
.horizontal-scroller-module--scroller-button-previous--xJzWA {
  inset-inline-start: -1.6rem;
}
@media (min-width: 83.8125rem) {
  .horizontal-scroller-module--scroller-button-previous--xJzWA {
    inset-inline-start: -2.4rem;
  }
}
.horizontal-scroller-module--scroller-button-next--xdud- {
  background: var(--scroller-button-next-bg);
  inset-inline-end: -1.6rem;
}
@media (min-width: 83.8125rem) {
  .horizontal-scroller-module--scroller-button-next--xdud- {
    inset-inline-end: -2.4rem;
  }
}

.list-menu-module--list-menu-container--8oKTW .ud-header-menu {
  min-inline-size: 26rem;
}
.list-menu-module--list-menu-container--8oKTW a:hover {
  color: var(--applied-text-link);
}
.list-menu-module--heading--N3Qvr {
  display: flex;
  color: var(--applied-text-subdued);
  padding-block: 1.6rem 0;
  padding-inline: 1.6rem 1.6rem;
  justify-content: space-between;
}
.list-menu-module--heading--N3Qvr ~ .list-menu-module--heading--N3Qvr,
.list-menu-module--section--l6I-M + .list-menu-module--section--l6I-M {
  border-block-start: 1px solid oklch(86.72% 0.0192 282.72deg);
}
.list-menu-module--section-without-heading--nNPVU {
  border-block-end: 1px solid oklch(86.72% 0.0192 282.72deg);
}
.list-menu-module--list-menu-container--8oKTW .list-menu-module--section--l6I-M.ud-block-list {
  padding-block: 0.8rem;
  padding-inline: 0;
}
.list-menu-module--list-menu-container--8oKTW .list-menu-module--section--l6I-M a,
.list-menu-module--list-menu-container--8oKTW .list-menu-module--section--l6I-M .list-menu-module--item--OY-R6 {
  padding-block: 0.8rem;
  padding-inline: 1.6rem;
  margin-inline: 0;
  border-radius: 0;
}
.list-menu-module--beta--lNhUd {
  background: var(--color-gray-150);
  color: var(--color-gray-500);
  margin-inline-start: 0.4rem;
  vertical-align: bottom;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.user-profile-dropdown-module--dropdown-button-avatar--CffDQ {
  margin: 0.8rem;
}
.user-profile-dropdown-module--user-section--WncyJ {
  border-block-end: 1px solid oklch(86.72% 0.0192 282.72deg);
  color: var(--applied-text-default);
  display: flex;
  padding: 1.6rem;
}
.user-profile-dropdown-module--email--eLeEE {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--applied-text-subdued);
  margin-block-start: 0.4rem;
  max-inline-size: 15.4rem;
}
.user-profile-dropdown-module--user-details--gQuWe {
  flex: 1;
  display: flex;
  align-items: center;
  margin-inline-start: 0.8rem;
  /* stylelint-disable-next-line unit-disallowed-list */
  min-inline-size: 1px;
  word-break: normal;
  overflow-wrap: anywhere;
}
.user-profile-dropdown-module--version--k71BW {
  background-color: var(--color-gray-200);
  color: var(--applied-text-default);
  position: relative;
  inset-block-start: -0.3rem;
  margin-inline-start: 0.8rem;
}
.user-profile-dropdown-module--try-ufb-section--5QPnu {
  border-block-start: 1px solid oklch(86.72% 0.0192 282.72deg);
  color: var(--applied-text-default);
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
}
.user-profile-dropdown-module--try-ufb-subtitle--NUCjg {
  color: var(--applied-text-subdued);
  margin-block-start: 0.4rem;
}
.user-profile-dropdown-module--subscription-menu-item--TGzkF {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.user-profile-dropdown-module--badge-personal-plan--x0g0K {
  background-color: var(--color-gray-200);
  margin-inline-start: 0.8rem;
}

.language-selector-menu-item-module--item-content--yTxdp {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.language-selector-menu-item-module--item-content--yTxdp:hover {
  color: var(--applied-text-link);
}
.language-selector-menu-item-module--current-language--yVTY- {
  color: var(--applied-text-default);
}

.skip-to-content-button-module--skip-to-content--MnPe4 {
  position: absolute;
  pointer-events: none;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  z-index: 1011;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skip-to-content-button-module--skip-to-content-btn--iM4H1 {
  pointer-events: all;
  max-block-size: 0;
  overflow: hidden;
}
.skip-to-content-button-module--skip-to-content-btn--iM4H1:focus,
.skip-to-content-button-module--skip-to-content-btn--iM4H1:active {
  max-block-size: none;
  overflow: visible;
  margin-block: 0;
  margin-inline: 1.6rem;
}
.skip-to-content-button-module--skip-to-content-btn--iM4H1:focus .skip-to-content-button-module--skip-to-content-shadow--eue1a,
.skip-to-content-button-module--skip-to-content-btn--iM4H1:active .skip-to-content-button-module--skip-to-content-shadow--eue1a {
  background: var(--color-white);
  border: 1px solid oklch(86.72% 0.0192 282.72deg);
  box-shadow: 0 2px 8px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 8%, transparent), 0 4px 16px 0 color-mix(in oklch, oklch(62.95% 0.0204 306.5deg) 12%, transparent);
  pointer-events: none;
  position: absolute;
  inset-block: -10% -10%;
  inset-inline: -1.6rem -1.6rem;
  z-index: -1;
}
.skip-to-content-button-module--main-content-anchor--3SDve {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
}

.browse-nav-module--nav-container--JbVc5 {
  display: flex;
}
.browse-nav-module--nav--0Iif6 {
  border-inline-start: 1px solid oklch(86.72% 0.0192 282.72deg);
  padding-block-end: 0.8rem;
  position: relative;
  inline-size: 29rem;
  min-block-size: 64rem;
}
.browse-nav-module--nav--0Iif6:first-child {
  border-inline-start: 0;
}
.browse-nav-module--placeholder-header-button--vj3Mz {
  visibility: hidden;
  padding-block: 0;
  padding-inline: 1.2rem;
}
.browse-nav-module--ai-assistant-nav-item--aWO-y {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
}
.browse-nav-module--google-certificate-nav-item--L9MqF {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
  pointer-events: none;
}
.browse-nav-module--google-certificate-nav-item--L9MqF > * {
  pointer-events: auto;
}
@media (max-width: 63.94em) {
  .browse-nav-module--show-on-large-screen--7DGEJ {
    display: none;
  }
}
.browse-nav-module--content-with-ribbon--krIFy {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
}

.labs-learning-banner-module--text-container--nJnue {
  flex-grow: 1;
  margin-inline-start: 1.6rem;
}
.labs-learning-banner-module--button--EYup7 {
  margin-inline-end: 1.6rem;
}
.labs-learning-banner-module--container--ako1p {
  padding: 1.6rem;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  border: 1px solid oklch(86.72% 0.0192 282.72deg);
  background: var(--color-gray-100);
}
.labs-learning-banner-module--action-buttons---Z7fn {
  flex-shrink: 0;
  margin-inline-start: 1.6rem;
}

.lab-icon-module--lab-icon--XY7Hz {
  block-size: 3.2rem;
  inline-size: 3.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--color-purple-450);
  color: var(--color-knockout);
}
.lab-icon-module--completed--IbWpZ {
  color: var(--color-gray-500);
  background: var(--color-gray-150);
}

.footer-buttons-module--footer-btns--fgdhd {
  margin-block-start: 3.2rem;
}
.footer-buttons-module--footer-btns--fgdhd .ud-btn + .ud-btn {
  margin-inline-start: 1.6rem;
}
.footer-buttons-module--footer-btns-spacer--TomYi {
  display: none;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.ufb-logo-module--brand-title--MZH8H {
  color: var(--applied-text-default);
  display: block !important;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-inline-size: 20rem;
}
.ufb-logo-module--logo--xe-R1 {
  max-inline-size: 20rem;
  max-block-size: 3.4rem;
  inline-size: auto;
  block-size: auto;
  vertical-align: middle;
}
.ufb-logo-module--logo--xe-R1[src$='.svg'] {
  block-size: 3.4rem;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.pro-learning-path-card-module--hover-content--GooiI {
  display: flex;
  align-items: center;
}
.pro-learning-path-card-module--hover-content--GooiI > * {
  padding-inline-end: 0.8rem;
}
.pro-learning-path-card-module--pro-content-card-wrapper--t-482 {
  block-size: 100%;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.pro-content-card-module--card-container--lLGCV {
  container-type: inline-size;
  position: relative;
  block-size: 100%;
}
.pro-content-card-module--pro-content-card--lJ5-Q {
  align-items: flex-start;
  background-color: oklch(100% 0 0deg);
  border: 1px solid oklch(86.72% 0.0192 282.72deg);
  display: flex;
  block-size: 100%;
  padding: 1.6rem;
}
.pro-content-card-module--icon-container--3Z53y {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple-150);
  border-radius: 100rem;
  min-inline-size: 4.4rem;
  min-block-size: 4.4rem;
}
.pro-content-card-module--icon--QSjL1 {
  inline-size: 3.2rem;
  block-size: 3.2rem;
}
.pro-content-card-module--content--ovs67 {
  display: flex;
  flex-direction: column;
  flex: 1;
  block-size: 100%;
  padding-block: 0;
  padding-inline: 0.8rem;
}
.pro-content-card-module--title--4As2z {
  display: block !important;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-family: var(--font-stack-heading);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 1.4rem;
  color: oklch(29.74% 0.0362 281.74deg);
  margin-block-end: 1.6rem;
}
.pro-content-card-module--pro-content-label---92k9 {
  color: oklch(48.09% 0.0371 279.08deg);
  margin-block-end: 0.4rem;
  font-family: var(--font-stack-text);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2rem;
}
@container (min-width: 42rem) {
  .pro-content-card-module--pro-content-card-container--EEQrW {
    padding: 2.4rem;
  }
  .pro-content-card-module--icon-container--3Z53y {
    min-inline-size: 7.2rem;
    min-block-size: 7.2rem;
  }
  .pro-content-card-module--icon--QSjL1 {
    inline-size: 4.8rem;
    block-size: 4.8rem;
  }
  .pro-content-card-module--content--ovs67 {
    padding-block: 0;
    padding-inline: 1.6rem;
  }
  .pro-content-card-module--title--4As2z {
    font-family: var(--font-stack-heading);
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    display: block !important;
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .pro-content-card-module--pro-content-label---92k9 {
    font-family: var(--font-stack-text);
    font-weight: var(--font-weight-light);
    line-height: 1.6;
    font-size: 1.4rem;
  }
}
.pro-content-card-module--view-cta--qfy0e {
  margin-block-start: 1.6rem;
}
.pro-content-card-module--view-cta--qfy0e::after {
  content: '';
  position: absolute;
  inset: 0;
}

.expressive-icon-module--xsmall--4b7YI {
  max-inline-size: 3.2rem;
  max-block-size: 3.2rem;
}
.expressive-icon-module--small--O1s98 {
  max-inline-size: 4.8rem;
  max-block-size: 4.8rem;
}
.expressive-icon-module--medium--X8NB8 {
  max-inline-size: 6.4rem;
  max-block-size: 6.4rem;
}
.expressive-icon-module--large--lqbQZ {
  max-inline-size: 9.6rem;
  max-block-size: 9.6rem;
}
.expressive-icon-module--xlarge--NwB-e {
  max-inline-size: 11.2rem;
  max-block-size: 11.2rem;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.pro-certification-badge-module--pro-cert-badge-container--I31CO {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  flex-grow: 1;
  column-gap: 0.4rem;
}
.pro-certification-badge-module--pro-cert-badge-container-large--ELhyQ {
  column-gap: 0.8rem;
}
.pro-certification-badge-module--pro-cert-badge-text--KASOA {
  display: block !important;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: block-axis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  color: oklch(48.09% 0.0371 279.08deg);
}

.package-alert-module--panel--wKmMO {
  min-inline-size: 0;
}
/* stylelint-disable-next-line selector-class-pattern */
.package-alert-module--package-alert--lpj6R .js-header-button {
  border: 1px solid var(--applied-border-warning);
}
.package-alert-module--package-alert--lpj6R .ud-icon {
  color: var(--applied-icon-warning) !important;
}

@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1153px) {
}
@container ud-content-area (min-width: 1232px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 553px) {
}
@container ud-content-area (min-width: 653px) {
}
@container ud-content-area (min-width: 933px) {
}
@container ud-content-area (min-width: 1153px) {
}
.logged-out-header-module--header--KcTG- {
  background: var(--color-white);
  display: flex;
  align-items: center;
  block-size: 7.2rem;
  padding-block: 0;
  padding-inline: 2.4rem;
}
@media (max-width: 50rem) {
  .logged-out-header-module--header--KcTG- {
    block-size: 5.6rem;
  }
}


/*# sourceMappingURL=common-ufb-desktop-server-side.d73fb4be1da1de04ded8.css.map*/